.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
  }
  
  @media screen and (max-width: 768px) {
    .checkbox-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  